.error {
    color: red;
}

body {
  padding-top: 80px;
  padding-bottom: 40px;
  background-color: #f7f7f7;
}

.form-signin {
  max-width: 400px;
  padding: 15px;
  margin: 0 auto;
}

.signup-link {
    text-align: center;
}

.login-link {
    text-align: left;
}

.custom-input {
    height: 48px;
    margin-bottom: 12px;
    font-size: 16px;
}

.custom-button {
    height: 50px;
    margin-top: 20px;
    border-radius: 5px;
}